body{
    background: linear-gradient(45deg, #ffdb00 0%, #ffb000 100%);
    height:  100vh;
    width:  100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content:space-evenly;
    font-family: cursive;
    overflow: hidden;
}

#div1{
    width: 60%;
    height: 100vh;
    position: relative;
    /* border: 1px black solid;  */
}

#div2{
    /* background-color: rgb(255, 200, 0); */
    width:  40%;
}
/* #btns{
    height: 80px;
    width: 200px;
    background-color: black;
    color: rgb(255,208,0);
    font-family: cursive;
    transition: background-color 0.2s ease-in,color 0.2 ease-in;

} */

#divheader{
    margin: 0;
    top: 0;
    padding: 0;
    font-size: 20px;
    /* border: 1px black solid;  */
    margin-top: 200px;
}

.mainbtns{
    justify-content: space-evenly;
    margin: 0;
    display: flex;
    /* border: 1px black solid;  */
    width: 100%;
}
#btns {
    margin: 50px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    height: 80px;
    width: 200px;
    background-color: black;
    color: rgb(255, 208, 0);
    font-family: cursive;
    transition: background-color 0.2s ease-in, color 0.2 ease-in;
}

#btns:hover{
    background-color: white;
    color: black;
    transition: background-color 0.4s ease-in,color 0.4 ease-in;
}

#edith{
    font-size: 100px;
    margin-left: 50px;

}


#a{
    text-decoration:none;
}