<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index2.css">
</head>
<body>
    <div id="div1">
        <h1 id="edith">Welcome <br> To <br> TransVerse</h1>
    </div>
    <div id="div2">
        <header id="divheader">
            <center><h1>Get  Started</h1></center>
        </header>
        <div  class="mainbtns"> 
                <a id="a" href="/txt_to_txt.html">
                    <button id="btns">Text To Text...</button>
                </a>
                <a id="a" href="/voice_to_voice.html">
                    <button id="btns">Voice To Voice...</button>
                </a>
        </div>
        
    </div>
</body>
</html>